.nav {
  width: 100%;
  padding: 20px 10vw;
}

.nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width: 170px;
}

.nav-button {
  background-color: transparent;
  border: 2px solid #60b5ff;
  color: #60b5ff;
  font-weight: 800;
  font-size: 1rem;
  margin: 0 1vw;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: #60b5ff;
  border-color: #60b5ff;
  color: #fff;
}

.hamburger {
  color: #60b5ff;
}
