nav {
  width: 100%;
  padding: 10px 10vw;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
}
